table {
    border-collapse: collapse;
    width: 30%;
    font-family: Arial;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 6px;
    text-align: left;
}

th {
    background-color: white;
}