table {
    border-collapse: collapse;
    width: 50%;
    font-family: Arial;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.tieu-de-cot th {
    background-color: green;
    color: white;
}

select {
    padding: 2px;
}